VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_SUPABASE_URL=https://vdllydxlrhuvulkgtzhe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZkbGx5ZHhscmh1dnVsa2d0emhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyNTgyODcsImV4cCI6MjA5ODgzNDI4N30.bJvtpWj8EsrooAML0nQ_t5SPGlrrbb8sl14Y9Y5Jums
VITE_CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key
